nav {
  height: 100px;
  background-color: white;
}

#first {
  align-content: center;
}

.jumbotron {
  height: 500px;
  background-image: url(/img/image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.speaker {
  height: 800px;
  background-color: white;
}

.ticket {
  height: 400px;
  background-color: white;
}

#leftcolumn {
  background-color: white;
  height: 630px;
}

#rightcolumn {
  background-color: white;
  height: 630px;

}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

footer {
  background-color: white;
  height: 100px;
}

/* breakpoints */
 /* Small devices (landscape phones, 576px and up) */
 @media only screen and (min-width: 576px) {
    body {
      background-color: red;
    }
  
  }
  
   /* Medium devices (tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {
      background-color: hotpink;
    }
  
  }
  
   /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {
      background-color: green;
    }
  
  }
  
   /* X-Large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {
      background-color: blue;
    }
  
  }
  
   /* XX-Large devices (larger desktops, 1400px and up) */
  @media only screen and (min-width: 1400px) {
    body {
      background-color: gold;
    }
  }